spring:
  config:
    activate:
      on-profile: production

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://mysql:3306/umsdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false
    show-sql: false

  h2:
    console:
      enabled: false
